body {
    padding-top:5rem;
    margin: 10px;
}
.starter-template{
    padding: 3rem 1.5rem;
    text-align: center;
}


.spacer {
    margin: 0px 500px;
}

.message {
    background-color: #5c565c;
    color: #ffff; 
    margin: 20px 0px;
}
.images {
    padding: 5px 5px 25px 5px;
    
  }
  h1 {
    text-shadow: 3px 2px rgb(129, 131, 136);

  }

  
  .bg-dark {
    background-color: #d5a4cf!important;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
